body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.list-avatar {
  width: 50px;
  height: auto;
  float: left;
}

.user-name {
  display: inline-block;
}

.cursor {
  cursor: pointer;
}

.avatar {
  max-height: 200px;
}

.user-detail {
  margin: 10px;
}
